.StudentList{
    width: 100%;
    height: 100%;
    padding: 50px 100px;
}

.student-list-table{
    background-color: #fff;
}


.nav-link {
    color: black;
}
.input-field{
    height: 47px;
    width: 90%;
}
.input-field select{
    margin: 0px;
    padding: 0px;
}
.defailtInput{
    background: none;
    border: none;
    outline: none;
}
@media only screen and (max-width: 600px) {
    .StudentList{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
  }